<div style="display:none;" class="how-it-works-outer-container how-one-display">
  <div class="how-it-works-container">
    <div class="how-it-works">How it works</div>
    <img class="how-it-works-image" src="/suitcase.png"/>
    <div class="how-it-works-message">
      First, you create your portfolio on Angaea - make sure to put
      in all the details for people to view your work and interests
      before booking your show.
    </div>
    <div class="progress-icons">
      <div class="blue-square-one bold-blue"></div>
      <div class="blue-square-two"></div>
      <div class="blue-square-three"></div>
    </div>
    <div class="how-works-create-cont">
      <a class="best-btn no-hov how-works-btn-one" href="/how_it_works/two">Next</a>
    </div>
  </div>
</div>
