<div class="about-container">
  <div class=mission-title>Our Mission</div>
  <div class="mission-info">
    This world has some incredible people with an array of different skills and products that make our lives easier and better. Now imagine if all of us were to pool in such resources together? How awesome would that be?
    This is what Angaea is all about. Our vision is for the world to be one big neighborhood and everyone to be self-sufficient.
    We want to recreate a Pangaea but of the digital world.
    Help us and be a part of it.
    Get in touch with us if you need help in creating one!
  </div>
  <img class="pangaea-gif" src="https://github.com/alexg622/angaea_heroku/blob/master/app/assets/images/the_angaea_final_symbol.png?raw=true"/>
</div>
