<div class="about-container">
  <div class="mission-title">About</div>
  <div class="mission-info">
    Our mission is to bring all talents and skills in one place. Are you a musician? A dancer?
    Cook? All of them? You can create services and experiences for people to enjoy and make
    memories from. Come on board and make your portfolio, share and enjoy cultural services!
  </div>

  <div class="mission-title">What is It</div>
  <div class="mission-info">
    A place where people create and experience culture
  </div>

  <div class="mission-title">How it Works</div>
  <div class="mission-info">
    Create your portfolio → Make your services → Share, earn and make memories
  </div>
</div>
