<div class="about-container">
  <div class="mission-title">About</div>
  <div class="mission-info">
    Our mission is to bring all talents and skills in one place. Are you a musician? A dancer?
    Cook? All of them? You can create activities and experiences for people to enjoy and make
    memories from. Come on board and make your portfolio, share and enjoy cultural activities!
  </div>

  <div class="mission-title">What is It</div>
  <div class="mission-info">
    A place where people create and experience culture
  </div>

  <div class="mission-title">How it Works</div>
  <div class="mission-info">
    Create your portfolio → Make your activities → Share, earn and make memories
  </div>

  <div class="mission-title">Coming Soon!</div>
  <div class="last-mission-info">
    <div>We’re currently working on getting you a lot of exciting features that you will surely fall in love with. Stay tuned!</div>
    <ul>
      <li class="coming-soon-bullet">Dashboard</li>
    </ul>
  </div>
</div>
