<div class="about-container">
  <div class="mission-title">About</div>

  <div class="mission-info-p1">
    We create and find the most incredible experiences for people
  </div>

  <div class="mission-info-p2">
    Angaea (ann-jay-aa) is a market network, who wants to see this world
    become one big neighbourhood where people can be their true creative
    selves. We have created different services in some popular cultural
    categories whose aim is to bring like-minded people together and make memories.
    We want to make sure that you don’t miss out on the awesome things happening around you,
    and we are always adding more and more services. The price of a lot of them will be $2 to
    help us keep serving you by giving you all the information needed and by bringing people together.
  </div>

  <div class="mission-info-p3">
    Our goal is to encourage every talented person (and seriously,
    everyone has some unique talent!) to use their artistic side to
    make some awesome services for people! Your portfolio is a way for
    others to see you and what you’re passionate about. So create a service
    you know people will love. You have the complete independence to make it from
    scratch and set the price to earn!
  </div>

  <div class="mission-info-p4">
    Now let your passion choose you and serve your community.
  </div>
</div>
