<div class="about-container">
  <div class=mission-title>CONTACT US</div>
  <div class="contact-us">Please feel free to contact us if you have any questions at contact@angaea.com</div>
  <div class="mission-info-container">
    <div class="dash-team">Team</div>
    <div class="team-one-container">
      <img class="dash-ron-img" src="https://github.com/alexg622/angaea_heroku/blob/master/app/assets/images/IMG_6820.JPG?raw=true"/>
      <div class="about-ron-container">
        <div class="about-ron-title">Ron Joshi</div>
        <div class="about-ron">
          With a background in law
          and business, Ron is extremely
          passionate about how technology
          can make our physical world easier.
          He loves design and believes that
          people are inherently creative beings.
          He and his co-founder are trying to make
          it easy for anyone to create and earn.
        </div>
      </div>
    </div>
    <div class="team-one-container">
      <div class="about-alex-container">
        <div class="about-ron-title">Alex Gonzalez</div>
        <div class="about-alex">
          Alex loves using technology to make
          the world a better place. He transitioned
          from majoring in music to pursue engineering.
          He was an expert at setting up secure internet
          connections while in the military.
        </div>
      </div>
      <img class="dash-alex-img" src="https://github.com/alexg622/angaea_heroku/blob/master/app/assets/images/Alex_Gonzalez_3.jpg?raw=true"/>
    </div>
  </div>
  <script>
    document.querySelector("body").style.paddingTop = "0"
  </script>
</div>
document.querySelector("body").style.background = "rgba(240, 240, 240, 1)"
let containers = document.querySelectorAll(".second-home-bottom-card")
for (let i=0; i<containers.length; i++) {
  containers[i].style.background = "white"
}
