<div class="about-container">
  <div class=mission-title>CONTACT US</div>
  <div class="contact-us">Please feel free to contact us if you have any questions at contact@angaea.com</div>
  <div class="mission-contact">
    <div>Email: contact@angaea.com</div>
  </div>
</div>
