<%if current_user && current_user.activities.length > 0%>
  <%=render "layouts/second_dashboard", activities: @activities%>
<%else%>
  <div class="dashboard-container">
    <div class="mission-title">No Services</div>
    <div class="mission-info">The dashboard is for users to view who is going to be attending their services and experiences.</div>
  </div>
<%end%>
