<div class="dashboard-container">
  <div class="mission-title">Coming Soon!</div>
  <div class="mission-info">We’re currently working on getting you a lot of exciting features that you will surely fall in love with. Stay tuned!</div>
</div>
