<div class="landing-container">
  <div style="display:none;" class="landing-modal">
    <%= render "how_one"%>
    <%= render "how_two"%>
    <%= render "how_three"%>
  </div>
  <div class="landing-first-container">
    <div class="landing-title">Welcome to Angaea</div>
    <div class="landing-first-text">
      Meet people, connect, and learn through experiences.
      Earn extra income through services. Angaea is the perfect
      place for making a difference in society and letting your passion choose you.
    </div>
    <%if current_user%>
      <a class="best-btn widen" href="/users/<%=current_user.id%>">Go To My Portfolio</a>
    <%else%>
      <a class="best-btn create-btn widen" href="/login">Login/Create my Portfolio</a>
    <%end%>
  </div>

  <div class="landing-second-container">
    <div class="landing-second-right  salmon-color">
      <div class="landing-second-right-left">
        <div class="landing-second-right-box-left salmon-color">
          <div class="landing-second-box-text">
            1. <strong class="landing-bold">Meet Ada.</strong>
            Ada loves to play music and gives performances from
            time to time with her band. She wants to create a
            classical jazz show for people to enjoy.
          </div>
        </div>
        <div class="landing-second-right-box-right salmon-color">
          <div class="landing-second-box-text">
            2. <strong class="landing-bold"> Enter Angaea.</strong>
            She creates a portfolio, links her social media for everyone
            to see and creates an experience.
          </div>
        </div>
      </div>
      <div class="landing-second-right-right">
        <div class="landing-second-right-box-left salmon-color">
          <div class="landing-second-box-text-bottom">
            3. She uses our platform to book a venue and calls
            her experience 'Jazzy Thursday Evenings', where she
            will play jazz music for enthusiasts and offer food, pricing it at $15.
          </div>
        </div>
        <div class="landing-second-right-box-right salmon-color">
          <div class="landing-second-box-text-bottom">
            4. She shares it on her social media pages and people are
            able to see her experience and book it. All on Angaea. Once
            booked, she's able to communicate with them.
          </div>
        </div>
      </div>
    </div>
    <div class="landing-second-left">
      <div class="landing-second-title">Experiences</div>
      <div class="landing-second-text">
        Once you make your portfolio, you can create an experience
        for others based on what YOU love to do. You can host a gaming
        marathon, take your guests around the city for comedy shows, or
        go on a hike through nature. With Angaea, you have the complete creative
        freedom to build beautiful and memorable experiences.
      </div>
      <div class="landing-second-text">
        Please complete your portfolio before you create an experience.
        Complete portfolios will give users an opportunity to explore
        your work before they book your service.
      </div>
      <div class="landing-second-text">
        Here's an example that might be helpful.
      </div>
    </div>
  </div>


  <div class="landing-fourth-container">
    <div class="make-smaller-landing">
      <div class="landing-fourth-title">It's Free to Create, always will be.</div>
      <div class="landing-fourth-bottom">
        <div class="landing-fourth-box">
          <img class="landing-fourth-img" src="https://github.com/alexg622/angaea_heroku/blob/master/app/assets/images/dab.png?raw=true"/>
          <div class="landing-fourth-text-one">
            Let your talent work for you.
          </div>
          <div class="landing-fourth-text">
            It's time to welcome the future of work where earning has never been easier.
          </div>
        </div>
        <div class="landing-fourth-box">
          <img class="landing-fourth-img" src="https://github.com/alexg622/angaea_heroku/blob/master/app/assets/images/man-in-a-party-dancing-with-people.png?raw=true"/>
          <div class="landing-fourth-text-one">
            Come and join us.
          </div>
          <div class="landing-fourth-text">
            It's more than just a community. We want our world to be one big neighborhood.
          </div>
        </div>
        <div class="landing-fourth-box">
          <img class="landing-fourth-img" src="https://github.com/alexg622/angaea_heroku/blob/master/app/assets/images/invisible-man.png?raw=true"/>
          <div class="landing-fourth-text-one">
            We don't charge any extra fees.
          </div>
          <div class="landing-fourth-text">
            We keep things simple. A small
            commission on every booking.
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.querySelector("body").style.padding = "0"
    let error = document.querySelector("#error")
    if (error) {
      error.style.marginTop = "50px"
      document.querySelector("body").style.background = "#273e74"
    }

    let createBtn = document.querySelector(".create-btn")
    let landingModal = document.querySelector(".landing-modal")
    let howOneCont = document.querySelector(".how-one-display")
    let howTwoCont = document.querySelector(".how-two-display")
    let howThreeCont = document.querySelector(".how-three-display")

    if(createBtn) {
      createBtn.addEventListener("click", e => {
        e.preventDefault()
        landingModal.style.display = "flex"
        howOneCont.style.display = "flex"
        landingModal.addEventListener("click", e => {
          if(e.target === howOneCont || e.target === howTwoCont || e.target === howThreeCont) {
            landingModal.style.display = "none"
            howOneCont.style.display = "none"
            howTwoCont.style.display = "none"
            howThreeCont.style.display = "none"
          }
        })
      })
    }

    let howOneBtn = document.querySelector(".how-works-btn-one")

    if(howOneBtn) {
      howOneBtn.addEventListener("click", e => {
        e.preventDefault()
        howOneCont.style.display = "none"
        howTwoCont.style.display = "flex"
      })
    }

    let howTwoBtn = document.querySelector(".how-works-btn-two")

    if(howTwoBtn) {
      howTwoBtn.addEventListener("click", e => {
        e.preventDefault()
        howTwoCont.style.display = "none"
        howThreeCont.style.display = "flex"
      })
    }
  </script>
</div>
