<div class="landing-container">

  <div class="landing-first-container">
    <div class="landing-title">Welcome to Angaea</div>
    <div class="landing-first-text">
      Meet people, connect, and learn through experiences.
      Earn extra income through services. Angaea is the perfect
      place for making a difference in society and letting your passion choose you.
    </div>
    <%if current_user%>
      <a class="best-btn widen" href="/users/<%=current_user.id%>">Go To My Portfolio</a>
    <%else%>
      <a class="best-btn widen" href="/login">Login/Create my Portfolio</a>
    <%end%>
  </div>

  <div class="landing-second-container">
    <div class="landing-second-right  salmon-color">
      <div class="landing-second-right-left">
        <div class="landing-second-right-box-left salmon-color">
          <div class="landing-second-box-text">
            1. <strong class="landing-bold">Meet Ada.</strong>
            Ada loves to play music and knows a lot of cool jazz
            places around the city. She wants to meet people
            that share her love and show them her favorite places.
          </div>
        </div>
        <div class="landing-second-right-box-right salmon-color">
          <div class="landing-second-box-text">
            2. <strong class="landing-bold"> Enter Angaea.</strong>
            She creates a portfolio & links her social media - allowing
            for everyone to see and understand the experience that she is offering.
          </div>
        </div>
      </div>
      <div class="landing-second-right-right">
        <div class="landing-second-right-box-left salmon-color">
          <div class="landing-second-box-text-bottom">
            3. She calls her experience 'Jazzy Evenings' and offers it to everyone.
            Here she introduces new music, incredible company, and a walking tour of cool
            places - all for 15$.
          </div>
        </div>
        <div class="landing-second-right-box-right salmon-color">
          <div class="landing-second-box-text-bottom">
            4. She shares it on her social media pages where interested folks
            are able to see her experience and book it on Angaea. Once booked,
            Ada can communicate with them.
          </div>
        </div>
      </div>
    </div>
    <div class="landing-second-left">
      <div class="landing-second-title">Experiences</div>
      <div class="landing-second-text">
        Once you make your portfolio, you can create an experience
        for others based on what YOU love to do. You can host a gaming
        marathon, take your guests around the city for comedy shows, or
        go on a hike through nature. With Angaea, you have the complete creative
        freedom to build beautiful and memorable experiences.
      </div>
      <div class="landing-second-text">
        Please complete your portfolio before you create an experience.
        Complete portfolios will give users an opportunity to explore
        your work before they book your service.
      </div>
      <div class="landing-second-text">
        Here's an example that might be helpful.
      </div>
    </div>
  </div>


  <div class="landing-fourth-container">
    <div class="make-smaller-landing">
      <div class="landing-fourth-title">It's Free to Create, always will be.</div>
      <div class="landing-fourth-bottom">
        <div class="landing-fourth-box">
          <img class="landing-fourth-img" src="https://github.com/alexg622/angaea_heroku/blob/master/app/assets/images/dab.png?raw=true"/>
          <div class="landing-fourth-text-one">
            Let your talent work for you.
          </div>
          <div class="landing-fourth-text">
            It's time to welcome the future of work where earning has never been easier.
          </div>
        </div>
        <div class="landing-fourth-box">
          <img class="landing-fourth-img" src="https://github.com/alexg622/angaea_heroku/blob/master/app/assets/images/man-in-a-party-dancing-with-people.png?raw=true"/>
          <div class="landing-fourth-text-one">
            Come and join us.
          </div>
          <div class="landing-fourth-text">
            It's more than just a community. We want our world to be one big neighborhood.
          </div>
        </div>
        <div class="landing-fourth-box">
          <img class="landing-fourth-img" src="https://github.com/alexg622/angaea_heroku/blob/master/app/assets/images/invisible-man.png?raw=true"/>
          <div class="landing-fourth-text-one">
            We don't charge any extra fees.
          </div>
          <div class="landing-fourth-text">
            We keep things simple. A small
            commission on every booking.
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.querySelector("body").style.padding = "0"
  </script>
</div>
