<div class="how-it-works-outer-container">
  <div class="how-it-works-container">
    <div class="how-it-works">How it works</div>
    <img class="how-it-works-image" src="/happiness.png"/>
    <div class="how-it-works-message">
      After applying for your slot (or creating your experience), it will show up on
      our platform for everyone to book and enjoy. 90% of the booking price goes to the
      artists aka YOU!
    </div>
    <div class="progress-icons">
      <div class="blue-square-one"></div>
      <div class="blue-square-two"></div>
      <div class="blue-square-three bold-blue"></div>
    </div>
    <div class="how-works-create-cont">
      <a class="best-btn no-hov" href="/users/new">Create</a>
    </div>
  </div>
  <script>
    document.querySelector("body").style.background = "#f0f0f0"
  </script>
</div>
