<div class="how-it-works-outer-container">
  <div class="how-it-works-container">
    <div class="how-it-works">How it works</div>
    <img class="how-it-works-image" src="/navigation.png"/>
    <div class="how-it-works-message">
      We've created experiences and booked venues on our platform.
      You can browse through them and select one where you can show
      your talent (You also have the independence to create your own
      experience based on your skills).
    </div>
    <div class="progress-icons">
      <div class="blue-square-one"></div>
      <div class="blue-square-two bold-blue"></div>
      <div class="blue-square-three"></div>
    </div>
    <div class="how-works-create-cont">
      <a class="best-btn no-hov" href="/how_it_works/three">Next</a>
    </div>
  </div>
  <script>
    document.querySelector("body").style.background = "#f0f0f0"
  </script>
</div>
