<div class="terms-and-conditions-container">
  <div class="position-end">
    <iframe class="terms-and-conditions" width="816px" height="816px" src="https://docs.google.com/document/d/e/2PACX-1vRKpa1LjqK9Q0DNQuNeLOE_FY466jLuokBQzPozxLOJhpief--0mgxi1pmwN7oNFetgnNcZ10hknWQg/pub?embedded=true"></iframe>
    <form class="terms-and-conditions-form" action="/privacyConditions" method="post">
      <input class="" type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>
      <label>
        By Checking This Box You Accept and Have Read the Privacy Agreement
        <input class="" type="checkbox" name="user[agree_to_privacy]" value="true">
      </label>
      <input class="submit-terms-and-conditions" type="submit" value="Agree">
    </form>
  </div>
</div>
