.container.mt-4.mb-5
  .row.justify-content-center
    .col.good-box-wrapper
      .good-box
        .good-box__header.p-4
          .font-md.font-light Account Setup
        .good-box__content.p-4.flex-column
          = render "pages/account_setup_partials/account_progress_bar", marg_right_ten: "margin-right:10%;", blue_circle: true, left_verify: "ENTER VEHICLE INFO", right_verify: "PUBLISH", make_blue: "", blue_words: "blue-words", none_left: "display:none;", none_right: "display:none;"
          p.text-center
            h1 style="color:#364d8b" Enter Vehicle Info
            h3 Tell us about your Vehicle
          p.text-center
             = link_to("https://www.trusted.sale/videos/#videos-setup-listing", target: :_blank) do
              = image_tag("", class: "icon ion-play")
              = "Watch 'How to' video"
          = simple_form_for(@listing, url: users_listings_path, method: :post) do |f|
            = render '/listings/form', f: f, show_image_input: false
javascript:
  document.querySelector(".submit-text").value = "Save and Continue"
  let imageContainer = document.querySelector(".image-outer-container")
  let imageInput = document.getElementById("listing_images")
  let imageInnerContainer = document.querySelector(".image-inner-container")
  let removeImgBtn = document.querySelector(".remove-image")

  if (imageInput) {
    imageInput.addEventListener("change", event => {
      if(imageContainer.children.length > 0) {
        while(imageInnerContainer.firstChild) {
          imageInnerContainer.removeChild(imageInnerContainer.firstChild)
        }
      }

      if(event.target.files.length > 0) {
        for(let i=0; i<imageInput.files.length; i++) {
          let reader = new FileReader()
          reader.onload = () => {
            const img = new Image()
            img.src = reader.result
            imageContainer.style.display = "flex"
            img.classList.add("preview-image")
            imageInnerContainer.append(img)
          }
          reader.readAsDataURL(imageInput.files[i])
        }
      }
    }, false)
  }

  if(removeImgBtn) {
    removeImgBtn.addEventListener("click", event => {
      while(imageInnerContainer.firstChild) {
        imageInnerContainer.removeChild(imageInnerContainer.firstChild)
        imageContainer.style.display = "none"
        imageInput.value = ""
      }
    })
  }
