<div class="chatroom-container">
  <a class="chatroom-title" href="/activities/<%=@chatroom.activity.id%>"><%= @chatroom.topic %></a>

<div class="messages-container">
  <% if @chatroom.messages.any? %>
    <div class="messages-partial-container" id="messages">
      <%= render partial: 'messages/message', collection: @chatroom.messages%>
    </div>
  <%else%>
    <div class="no-messages" id="messages">
    </div>
  <%end%>
</div>


  <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom}%>
  <script>
    let btn = document.querySelector(".best-btn")
    let textArea = document.querySelector(".activity-message-form")
    if(btn) {
      btn.addEventListener("click", () => {
        setTimeout(() => {
          let text = textArea.value
          textArea.value = ""
        })
        setTimeout(() => {
          let aTag = document.querySelector(".change-href")
          let value = "/users/" + document.querySelector(".get-user-id").innerText
          aTag.href = value
        }, 2000)
      })
    }


  </script>
</div>
