<div class="activation-reminder-container">
  <div class="reminder-text">
    Please allow us 5-10 minutes to send you an activation email.
    Depending on your mail settings the email might be sent to your spam folder.
  </div>
  <img src="https://github.com/alexg622/angaea_heroku/blob/master/app/assets/images/the_angaea_final_symbol.png?raw=true" />
  <div class="reminder-angaea-team">Angaea Team</div>
</div>
