<div class="login-container-better">
  <h1>Please Enter Email</h1>
  <form class="login-form" action="/users/resetPasswordLink" method="post">
    <input class="" type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>

    <input class="login-inputs" type="email" name="user[email]" placeholder="EMAIL" value="">

    <div width="100px">
      <input class="best-btn" type="submit" value="Send Link">
    </div>
  </form>
</div>
<!-- background: rgba(0,0,0,0.5); -->
<!-- background: rgba(0,0,0,.6);
z-index: -1; -->
