<div>
  <div>Hi <%=@user.name%>,</div>
  <br>
  <div>The following is a short guide on how you can make the best out of your portfolio:</div>
  <br>
  <div>
    a. You can always create any service you’d like to give to the
    community based on your talents and experience. The whole process
    of creating one is completely up to you, including setting the price,
    number of people and the venue.  Please ensure you do state your policy in the
    ‘About’ section and connect your social media to the portfolio. This will help
    people book your service with greater confidence.
  </div>
  <br>
  <div>
    b. For every booking we add a 10% service charge where out payment processor
    would get a percentage of that portion since we are using a third party service
    for payments to ensure things are as smooth as possible.
  </div>
  <br>
  <div>
    c. We have included a Dashboard which will have your service and the people
    attending your service to ensure that you can contact them we ease. We are
    working on more functionalities to the Dashboard and will introduce more exciting
    things soon!
  </div>
  <br>
  <div>If you have any questions, please feel free to contact us on contact@angaea.com</div>
  <br>
  <div>Regards,</div>
  <div>Angaea Team</div>
  <br>
  <div>Angaea Inc.,</div>
  <div>San Francisco</div>
  <div>contact@angaea.com</div>
  <div>+1(510)499-6974</div>
</div>
