<div>
  <div>Hi <%=@user.name%>,</div>
  <br>
  <div>The following is a short guide on how you can make the best out of your portfolio:</div>
  <div>
    a. You can always create activities based on your talents and profession. And please ensure to
    include your social media links in your portfolio so that people can check out your talents! It
    will help them book your activities with greater confidence. Please state your policy for the
    activity clearly in the ‘About’ section.
  </div>
  <div>b. We will help you out in finding the venue if you need one!</div>
  <div>
    c. You can also create rental listing of products that you can share
    with others. Simply create a product profile in create rentals and
    share them with others! As of now, we can’t create rental listings for
    real estate. Only products such as books, furniture, utensils, clothes,
    etc. Please state your policy for the activity clearly in the ‘About’ section.
  </div>
  <div>d. For every booking, we charge 10% service fee out of which approximately 5% would go to the payment processors.</div>
  <div>e. We use Stripe Payments to process the amounts securely.</div>
  <div>
    f. We are working on a Dashboard where you will get a finances
    sections for the amount earned and spent on the platform, a
    section where you can get all your invoices for the bookings,
    messaging, and more.
  </div>
  <br>
  <div>If you have any questions, please feel free to contact us on contact@angaea.com</div>
  <br>
  <div>Regards,</div>
  <div>Angaea Team</div>
  <br>
  <div>Angaea Inc.,</div>
  <div>San Francisco</div>
  <div>contact@angaea.com</div>
  <div>+1(510)499-6974</div>
</div>
