<div>
  <div>Welcome To Angaea!</div>
  <div style="margin-top: 25px;">Please click on this link to activate your account.</div>
  <a style="margin-top: 25px;" href="https://www.angaea.com/users/activate_account/<%=@user.account_activation_secret%>">Activate Account</a>
</div>
