<div>
  <div>Hi <%=@user.name%>,</div>
  <br>
  <div>Please click on link to be redirected to a page to reset your password.</div>
  <a href="https://www.angaea.com/users/<%=@user.reset_password_secret%>/resetPassword">Reset Password</a>
  <br>
  <br>
  <div>Regards,</div>
  <div>Angaea Team</div>
  <br>
  <div>Angaea Inc.,</div>
  <div>San Francisco</div>
  <div>contact@angaea.com</div>
  <div>+1(510)499-6974</div>
</div>
