<div>
  <div>Hi <%="#{@user.name},"%></div>
  <br>
  <div>
    <%="You got #{@activity_ticket.spots_buying} #{@spot_num} for activity #{@activity.activity_name}
    at #{@activity.format_full_location} from #{@activity.format_start_date} - #{@activity.format_end_date}."%>
  </div>
  <br>
  <div>Best,</div>
  <br>
  <div>Angaea Team</div>
</div>
