<div>
  <div>Hi <%=@user.name%>,</div>
  <br>
  <div>
    Thank you so much for creating your portfolio on Angaea! There’s a whole new world ahead for you to discover and share.
  </div>
  <br>
  <div>Please click on the activation link below to start using your platform.</div>
  <br>
  <div><a href="https://www.angaea.com/users/activate_account/<%=@user.account_activation_secret%>">Get me to Angaea</a></div>
  <br>
  <div>Please feel free to contact us on contact@angaea.com and we will always be happy to help you.</div>
  <br>
  <div>Regards,</div>
  <div>Angaea Team</div>
  <br>
  <div>Angaea Inc.,</div>
  <div>San Francisco</div>
  <div>contact@angaea.com</div>
  <div>+1(510)499-6974</div>
</div>
