<div class="spots-container">

  <h1>Spots</h1>
  <img width="100px" height="100px" src="https://github.com/alexg622/angaea_heroku/blob/master/app/assets/images/the_angaea_final_symbol.png?raw=true"/>
  <form enctype="multipart/form-data" class="create-activity-form-css" action="/activities/<%=@activity.id%>/spots" method="post">
    <input class="" type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>

    <label>
      <div style="display:flex"><div>How many spots would you like to purchase for this service?</div><div style="color:red"></div></div>
      <select class="spots-select" name="activity_tickets[spots_buying]">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </label>
    <div class="spots-total-div">Total: $<%=@activity.cost%></div>
    <input class="spots-submit" type="submit" value="Proceed to Checkout"/>
    <%= render "layouts/money_javascript"%>
</div>
