<div class="spots-container">

  <h1>Days Renting</h1>
  <img width="100px" height="100px" src="https://github.com/alexg622/angaea_heroku/blob/master/app/assets/images/the_angaea_final_symbol.png?raw=true"/>
  <form enctype="multipart/form-data" class="create-activity-form-css" action="/rentals/<%=@rental.id%>/days_renting" method="post">
    <input class="" type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>

    <label>
      <div style="display:flex"><div>How many days would you like to rent this item for?</div><div style="color:red"></div></div>
      <select class="spots-select" name="rental_tickets[days_renting]">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
      </select>
    </label>
    <div class="spots-total-div">Total: $<%=@rental.cost%></div>
    <input class="spots-submit" type="submit" value="Proceed to Checkout"/>
    <%= render "layouts/money_javascript"%>
</div>
