.about-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mission-title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 40px;
}

.mission-info {
  text-align: center;
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.pangaea-gif {
  margin-top: 40px;
}

.mission-contact {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
