.about-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 85vh;
  // margin-top: 25px;
}

.mission-title {
  font-size: 25px;
  font-weight: bold;
  margin-top: 40px;
}

.mission-info {
  // text-align: center;
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  justify-content: center;
  line-height: 2em;
  // justify-content: center;
  margin-top: 40px;
  text-align: center;
}

.last-mission-info {
  // text-align: center;
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  justify-content: center;
  line-height: 2em;
  // justify-content: center;
  margin-top: 40px;
  text-align: center;
  margin-bottom: 40px;
}

.coming-soon-bullet {
  // list-style-type: circle;
  font-weight: bold;
}

.pangaea-gif {
  margin-top: 40px;
}

.mission-contact {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
