.dashboard-container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // font-size: 25px;
  font-weight: bold;
  height: 100vh;
  // justify-content: center;
  align-items: center;
  width: 100%;
}

.dashboard-text {
  margin-top: 100px;
}

.dash-your-activities-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 300px;
  overflow: scroll;
  margin-left: 50px;
  border: 3px solid black;
  align-self: flex-start;
}

.dash-your-activities-text {
  font-size: 16px;
  font-weight: bold;
}
