.home-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.home-category {
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.home-activities-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  // margin-top: 25px;
}

.home-activities-outer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.art-class {
  margin-top: 25px;
  margin-bottom: 25px;
}

.music-class {
  border-top: 1px solid lightgray;
  margin-top: 25px;
  padding-top: 50px;
  margin-bottom: 25px;
}

.dance-class {
  border-top: 1px solid lightgray;
  margin-top: 25px;
  padding-top: 50px;
  margin-bottom: 25px;
}

.home-activities-card-container {
  margin-top: 25px;
  width: 400px;
  height: 400px;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  &:hover{
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
  }
}

.home-top-activity-card {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.home-top-activity-card:hover {
  cursor: pointer;
}

.home-bottom-activity-card {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.home-activity-card-user:hover {
  cursor: pointer;
}

.home-activity-card-name {
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.home-top-margin {
  margin-top: 5px;
}

.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  width: 100%;
}

.activity-edit-link {
  color: blue;
  display: flex;
  margin-right: 10px;
  align-self: flex-end;
}
.activity-edit-link:hover {
  text-decoration: underline;
}

.home-activity-details-container {
  height: 50%;
  display: flex;
  font-size: 12px;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 10px;
  align-items: center;
  width: 100%;
}

.view-more {
  color: blue;
}

.view-more-div {
  display:flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  margin-right: 30px;
}

.view-more:hover {
  text-decoration: underline;
  cursor: pointer;
}

.users-activities-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.users-rentals-outer-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
