<div class="show-category-container">
  <div class="show-category-title"><%=@category.category_name.upcase%></div>
  <div class="category-activities-container">
    <%if @category.services.length > 0%>
      <%@category.services.each do |service|%>
        <%= render "layouts/index_service_card", service: service, margTop: "give-marg-top"%>
      <%end%>
    <%end%>
  </div>
</div>
