<div class="login-container-better">
  <h1>Log In</h1>
  <form class="login-form" action="<%= login_path %>" method="post">
    <input class="" type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>

    <input class="login-inputs" type="email" name="session[email]" placeholder="EMAIL" value="">
    <input class="login-inputs" type="password" name="session[password]" placeholder="PASSWORD" value="">

    <div width="100px">
      <input class="best-btn" type="submit" value="Login">
    </div>
  </form>
</div>
<!-- background: rgba(0,0,0,0.5); -->
<!-- background: rgba(0,0,0,.6);
z-index: -1; -->
