<div class="create-login-form-container">
  <h1>Log In</h1>
  <form class="create-login-form-css" action="<%= login_path %>" method="post">
    <input class="" type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>

    <label>
      Email
      <input class="" type="email" name="session[email]" value="">
    </label>

    <label>
      Password
      <input class="" type="password" name="session[password]" value="">
    </label>

    <input class="login-submit" type="submit" value="Login">
  </form>
  <%= link_to "Sign up now!", signup_path, class: "better-sign-up" %>
</div>
<!-- background: rgba(0,0,0,0.5); -->
<!-- background: rgba(0,0,0,.6);
z-index: -1; -->
