<div class="display-it-none create-activity-form-container">
  <h1>Create Your Service</h1>
  <form enctype="multipart/form-data" class="date-class create-activity-form-css" action="<%= activities_path %>" method="post">
    <input class="" type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>

    <label>
      <div style="display:flex"><div>Activity Name</div><div style="color:red"> *</div></div>
      <input class="" type="text" name="activity[activity_name]" value="">
    </label>

    <label>
      <div style="display:flex"><div>Description</div><div style="color:red"> *</div></div>
      <textarea class="" name="activity[content]"></textarea>
    </label>

    <label>
      <div style="display:flex"><div>What to Bring</div><div style="color:red"> *</div></div>
      <textarea class="" type="text" name="activity[additional_info]"></textarea>
    </label>

    <label>
      Contact Number
      <input class="" type="text" name="activity[contact_number]" value="">
    </label>

    <label>
      <div style="display:flex"><div>Contact Email</div><div style="color:red"> *</div></div>
      <input class="" type="email" name="activity[contact_email]" value="">
    </label>

    <label>
      <div style="display:flex"><div>Category</div><div style="color:red"> *</div></div>
      <select name="activity[category]">
        <option value="art">art</option>
        <option value="music">music</option>
        <option value="food">food</option>
        <option value="dance">dance</option>
        <option value="theatre">theatre</option>
        <option value="comedy">comedy</option>
      </select>
    </label>

    <label>
      <div style="display:flex"><div>Price</div><div style="color:red"> *</div></div>
      <input class="price-to-add" type="text" name="activity[cost]" value="">
    </label>



    <label>
      <div style="display:flex"><div>Price paid with 10% service fee</div><div style="color:red"> *</div></div>
      <input class="add-five-percent" type="text" placeholder="" value="">
    </label>

    <label>
      <div style="display:flex"><div>Max Number of Attendees</div><div style="color:red"> *</div></div>
      <input class="" type="text" name="activity[capacity]" value="">
    </label>

    <label>
      <div style="display:flex"><div>Address 1</div><div style="color:red"> *</div></div>
      <input class="" type="text" name="activity[addressLN1]" value="">
    </label>

    <label>
      Address 2
      <input class="" type="text" name="activity[addressLN2]" value="">
    </label>

    <label>
      <div style="display:flex"><div>City</div><div style="color:red"> *</div></div>
      <input class="" type="text" name="activity[city]" value="">
    </label>

    <label>
      <div style="display:flex"><div>State</div><div style="color:red"> *</div></div>
      <input class="" type="text" name="activity[state]" value="">
    </label>

    <label>
      <div style="display:flex"><div>Zipcode</div><div style="color:red"> *</div></div>
      <input class="" type="text" name="activity[zip]" value="">
    </label>

    <label>
      <div style="display:flex"><div>Start Date</div><div style="color:red"> *</div></div>
      <div class="start-datetime start-datetime-input-container datetime-input-container">
        <div class="start-datetime datetime-input datetime-day">00</div>
        <div class="start-datetime datetime-input datetime-divider">/</div>
        <div class="start-datetime datetime-input datetime-month">00</div>
        <div class="start-datetime datetime-input datetime-divider">/</div>
        <div class="start-datetime datetime-input datetime-year">0000</div>
        <div class="start-datetime datetime-input datetime-hour"> 00</div>
        <div class="start-datetime datetime-input datetime-divider">:</div>
        <div class="start-datetime datetime-input datetime-minute">00</div>
        <div class="start-datetime datetime-input datetime-ampm">AM</div>
      </div>
      <input class="start-datetime-value start-date" type="hidden" name="activity[start_date]" value="">
    </label>

    <label>
      <div style="display:flex"><div>End Date</div><div style="color:red"> *</div></div>
      <div class="end-datetime end-datetime-input-container datetime-input-container">
        <div class="end-datetime datetime-input end-datetime-day">00</div>
        <div class="end-datetime datetime-input end-datetime-divider">/</div>
        <div class="end-datetime datetime-input end-datetime-month">00</div>
        <div class="end-datetime datetime-input end-datetime-divider">/</div>
        <div class="end-datetime datetime-input end-datetime-year">0000</div>
        <div class="end-datetime datetime-input end-datetime-hour">00</div>
        <div class="end-datetime datetime-input end-datetime-divider">:</div>
        <div class="end-datetime datetime-input end-datetime-minute">00</div>
        <div class="end-datetime datetime-input end-datetime-ampm">AM</div>
      </div>
      <input class="end-datetime-value end-date" type="hidden" name="activity[end_date]" value="">
    </label>

    <label>
      Reucrring
      <select name="activity[recurring_schedule]">
        <option value="">Non-Recurring</option>
        <option value="weekly">Weekly</option>
        <option value="bi-weekly">Bi-Weekly</option>
      </select>
    </label>

    <label>
      Main Image
      <input class="" type="file" name="activity[image]" value="" multiple="multiple">
    </label>

    <label>
      Images - Please select all images at once
      <input class="" type="file" name="activity[images][]" placeholder="For multiple images please select all images at once" value="" multiple="multiple">
    </label>

    <input class="btn" type="submit" value="Create Service">
  </form>
  <%= render "layouts/datetime_javascript"%>
  <%= render "layouts/end_datetime_javascript"%>
</div>
