<%if activity.image.attached?%>
  <div class="image-activity-card-container">
    <%if activity.images.attached?%>
      <div onclick="" class="arrows-holder">
        <div onclick="" unselectable="on" class="left-arrow"><</div>
        <div onclick="" unselectable="on" class="right-arrow">></div>
      </div>
    <%end%>
    <img class="show-image-activity-card" src="<%=url_for(activity.image)%>"/>
  </div>
<%end%>
