<div class="users-upcoming-activities-container">
  <%if activities.any?%>
    <%activities.each do |activity|%>
      <%=render "layouts/home_activity_card", activity: activity, margTop: "give-marg-top"%>
    <%end%>
    <%else%>
      <div class="no-data">No Upcoming Experiences</div>
  <%end%>
</div>
