<div class="users-activities-outer-container">
  <%if current_user == @user%>
    <div class="align-elements">
      <%if current_user.stripe_connect == nil%>
        <a class="create-activity-toggle" href="/stripe/<%=current_user.id%>/stripe_acct">Create an Experience</a>
      <%elsif current_user.stripe_connect.account_number == nil%>
        <a class="create-activity-toggle" href="/stripe/<%=current_user.id%>/stripe_acct">Create an Experience</a>
      <%else%>
        <div class="create-activity-toggle">Create an Experience</div>
      <%end%>
    </div>
  <%else%>
    <div class="space-create-activity-toggle"></div>
  <%end%>
  <div class="users-activities-container">
    <%if activities.any?%>
      <%activities.each do |activity|%>
        <%=render "layouts/home_activity_card", activity: activity, margTop: "give-marg-top"%>
      <%end%>
    <%else%>
      <div class="no-data">Create an Experience</div>
    <%end%>
  </div>
  <div class="users-show-upcomingactivity-title">Upcoming Experiences</div>
  <div class="users-activities-container">
    <%if upcoming_activities.any?%>
      <%upcoming_activities.each do |activity|%>
        <%=render "layouts/home_activity_card", activity: activity, margTop: "give-marg-top"%>
      <%end%>
    <%else%>
      <div class="no-data">No Upcoming Experiences</div>
    <%end%>
  </div>
</div>
